{%  extends "::base.html.twig" %}

{%  block body %}
	<h3>Consulter l'article</h3>
	<div class="well">
	Id : {{ article.id }}<br/>
	Auteur : {{ article.auteur.pseudo }}<br/>
	Titre : {{ article.titre }}<br/>
	Contenu : {{ article.contenu }}<br/>
	
	{#<pre>{{ dump(article) }}</pre>#}
	
	 {{ render(controller('HBBlogBundle:Commentaire:addToArticle', { 'article_id': article.id })) }}
	
	{% include 'HBBlogBundle:Commentaire:list.html.twig' with { 'commentaires': article.commentaires } %}
	
	<a href="{{ path("article_list") }}">Retour à la liste des articles</a>
	</div>
{%  endblock %}