{%  extends "::base.html.twig" %}

{%  block body %}
	<h3>Consulter l'auteur</h3>
	<div class="well">
	Id : {{ auteur.id }}<br/>
	Nom : {{ auteur.nom }}<br/>
	Prénom : {{ auteur.prenom }}<br/>
	Pseudo : {{ auteur.pseudo }}<br/>
	
	<pre>{{ dump(auteur) }}</pre>
	
	<a href="{{ path("auteur_list") }}">Retour à la liste des auteurs</a>
	</div>
{%  endblock %}